
<ng-template #loadingCircle>
  <app-loading-circle></app-loading-circle>
</ng-template>

<div *ngIf="!loading else loadingCircle">
<div *ngFor="let searchResult of searchResults">
  <p (click)="onClick(searchResult)">{{ searchResult.title }} - {{ searchResult.primary_artist.name }}</p>
</div>
</div>
