<ng-template #arrow>
  <svg _ngcontent-ng-c4237771502="" viewBox="0 0 22 22">
    <path _ngcontent-ng-c4237771502="" fill="#fff" d="M22 0H0v22h22V0z"></path>
    <path _ngcontent-ng-c4237771502="" d="M15.6 11L7.9 6.5v9" class="st0"></path>
  </svg>
</ng-template>

<div class="tutorialGrid">
  <h1 class="tutorialTitle">{{ 'tutorial.title' | translate }}</h1>
  <div class="tutorialContent">
    <div class="tutorialSection">
      <h2 class="tutorialSectionTitle">{{ 'tutorial.super_mix.title' | translate }}
        <a href="/super-mix" class="tutorialSectionLink">
          <ng-container *ngTemplateOutlet="arrow"></ng-container>
        </a>
      </h2>

      <p class="tutorialSectionDescription">{{ 'tutorial.super_mix.description' | translate }}</p>
    </div>

    <div class="tutorialSection">
      <h2 class="tutorialSectionTitle">{{ 'tutorial.by_artists.title' | translate }}
        <a (click)="gameByArtist()" class="tutorialSectionLink">
          <ng-container *ngTemplateOutlet="arrow"></ng-container>
        </a>
      </h2>

      <p class="tutorialSectionDescription">{{ 'tutorial.by_artists.description' | translate }}</p>
    </div>

    <div class="tutorialSection">
      <h2 class="tutorialSectionTitle">{{ 'tutorial.by_songs.title' | translate }}
        <a (click)="gameByArtist()" class="tutorialSectionLink">
          <ng-container *ngTemplateOutlet="arrow"></ng-container>
        </a>
      </h2>

      <p class="tutorialSectionDescription">{{ 'tutorial.by_songs.description' | translate }}</p>
    </div>
  </div>
</div>
