.tutorialGrid {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #fff;
  margin: auto;
  max-width: 1188px;
  min-width: 1020px;
  padding: 0 24px;
  width: 100%;
  margin-bottom: 4.5rem;
  padding: 0;
}

.tutorialTitle {
  color: #fff;
  -webkit-text-stroke: 2px #000;
  letter-spacing: 2px;
  font-size: 5em;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  margin-top: 2.25rem;
  
}

.tutorialSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 3rem;
}

.tutorialSectionTitle {
  font-size: 3em;
  font-weight: 100;
  line-height: 1.25;
  margin-top: -.75rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.tutorialSectionDescription {
  margin: 1rem 0;
}

.tutorialSectionLink {
  display: flex;
  height: 2rem;
  position: relative;
  top: 3px;
}
