.songPlayTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.lyricsSection {
  position: relative;
  color: rgb(0, 0, 0);
  background-color: rgb(233, 233, 233);
  align-self: center;
  padding: 10px;
  width: fit-content;
}

.annotation {
  display: flex;
  position: relative;
  margin-right: calc(5.75rem);
  flex-direction: column;
  padding: 1.5rem;
  background-color: rgb(233, 233, 233);
}

.annotation:hover {
  background-color: rgba(15, 12, 12, 0.13);
}

.scoreSection {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.songPlayGrid {
  display: grid;
  gap: 0.75rem;
  font: 100 1.125rem / 1.5 Programme, Arial, sans-serif;
  padding: 1.5rem;
  grid-auto-rows: max-content;
  min-height: min(var(--annotation-height), 100vh);
  position: relative;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}

.nextModal {
  background-color: rgb(233, 233, 233);
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.endGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
