<div *ngIf="!loadingPage; else loadingCircle" class="songPlayComponent">
  <h1 class="songPlayTitle">{{ songTitle }}</h1> 
  <section class="scoreSection">
    <h2>Score : &nbsp;</h2>
    <p>{{ score }}</p>
  </section>

  <div *ngIf="!loadingGame && !endGame" class="songPlayGrid">

    <section class="lyricsSection">
      <h2>{{ 'song_play.lyrics.title' | translate }}</h2>
      <p>{{ correct?.fragment }}</p>
    </section>

    <section class="solutionsSection">
      <h2> {{ 'song_play.solutions.description' | translate }} {{ 1 + index}}/5</h2>      
      <ul>
        <li class="annotation" *ngFor="let solution of solutions; let i = index" (click)="onClick(solution, i)" >{{ solution.body.plain }}</li>
      </ul>
    </section>
    <div *ngIf="showNextModal" class="nextModal" (click)="nextRound()">
      <svg viewBox="0 0 22 22"><path fill="#fff" d="M22 0H0v22h22V0z"></path><path class="st0" d="M15.6 11L7.9 6.5v9"></path></svg>
    </div>
  </div>
 
  
  <div *ngIf="endGame" class="endGame">
    <app-final-score [score]="score"></app-final-score>
  </div>
</div>

<ng-template #loadingCircle>
  <app-loading-circle></app-loading-circle>
</ng-template>
