<h1>{{ 'history.title' | translate }}</h1>

<ng-template #noHistory>
  <p>{{ 'history.no_games' | translate }}</p>
</ng-template>

<ul *ngIf="gameHistory.length > 0 else noHistory">

  <li *ngFor="let game of gameHistory">
    {{game.result}}, {{ 'history.result.score' | translate }} : {{game.score}}
  </li>
</ul>
