h1 {
  color: #000000;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  top: 1em;
}

p {
  color: #000000;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 1em;
  padding: 1em;
}

ul {
  list-style-type: none;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  top: 1em;
  padding: 1em;
}
