.homeFeaturedArtist {
  color: rgb(0, 0, 0);
    font-weight: 100;
    line-height: 1.125;
    height: 100%;
    min-height: inherit;
}

.homeFeaturedArtistLink {
  color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: inherit;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.homeFeaturedArtistHeader {
  margin-bottom: 1rem;
}

.homeFeaturedArtistLabel {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.homeFeaturedArtistTitle {
  margin-top: 0.75rem;
  font-size: 1.5rem;
}

.homeFeaturedArtistTitle h2 {
  display: inline;
}

.homeFeaturedArtistImage {
  position: relative;
  background-position: center center;
  padding-bottom: 56.25%;
  background-repeat: repeat-x;

}

.sizedImageContainer {
  position: relative;
  background-position: center center;
  padding-bottom: 56.25%;
  background-color: rgb(233, 233, 233);
  background-repeat: repeat-x;
  background-size: auto calc(100% + 1px);
}
