<div class="homeFeaturedArtist">
  <a [href]="artistLink" class="homeFeaturedArtistLink">
    <div class="homeFeaturedArtistHeader">
      <div class="homeFeaturedArtistLabel"><span font-weight="normal" class="textLabel">{{ artistName }}</span></div>
      <div class="homeFeaturedArtistTitle">
        <h2>{{ artistDescription }}</h2>
      </div>
    </div>
    <div>
      <div class="homeFeaturedArtistImage">
        <div role="img" class="sizedImageContainer"
          [style]='"background-image: url(" + artistImageUrl + ");"'>
        </div>
      </div>
    </div>
  </a>
</div>
