.superMixPlayTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.lyricsSection {
  position: relative;
  color: rgb(0, 0, 0);
  background-color: rgb(233, 233, 233);
  align-self: center;
  padding: 10px;
  width: fit-content;
  max-width: 100%;
}

.guessSuggestionsContainer {
  z-index: 1000;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0px 0px 0.375rem 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.125rem 0.375rem;
  max-height: 400px;
  max-width: 600px;
  margin-top: -0.75rem;
  width: -webkit-fill-available;
  padding: 4px;
}

.guessSearchIcon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0px 0.375rem;
}


.guessSearchIcon svg {
  fill: rgb(0, 0, 0);
  width: 18px;
}


.guessSearchForm {
  display: flex;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  -webkit-box-align: center;
  align-items: center;
  width: -webkit-fill-available;
  height: calc(41px - 0.75rem);
}

.guessInput {
  -webkit-box-flex: 1;
  flex-grow: 1;
  position: relative;
  border: none;
  border-radius: 0px;
  background: #ffffff;
  color: #000000;
  font-family: Programme, Arial, sans-serif;
  font-feature-settings: "ss07", "ss08", "ss11", "ss12", "ss14", "ss15", "ss16", "ss18", "ss19", "ss20", "ss21";
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  appearance: none;
  overflow: hidden;
  resize: none;
  outline: none;
  padding: 0px 0.125rem 0px 0.5rem;
}

.scoreSection {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.superMixPlayGrid {
  display: grid;
  gap: 0.75rem;
  font: 100 1.125rem / 1.5 Programme, Arial, sans-serif;
  padding: 1.5rem;
  grid-auto-rows: max-content;
  min-height: min(var(--annotation-height), 100vh);
  position: relative;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  justify-content: center;
  justify-items: center;
}

.nextModal {
  background-color: rgb(233, 233, 233);
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.previousGuesses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

.previousGuess {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.correctGuess {
  height: 13px;
}

.incorrectGuess {
  height: 13px;
}

.gameButton {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
}

.endGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lyricsLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}
