div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h2 {
  color: #000000;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}

p {
  color: #000000;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

button {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin: 1em 0;
  cursor: pointer;
}
