.searchResultsContainer {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0px 0px 0.375rem 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.125rem 0.375rem;
  max-height: 400px;
  max-width: 600px;
}

.headerContainer {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 50px;
  background: rgb(255, 255, 100);
  padding-right: 0.375rem;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.headerLeft {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.headerSearchInput {
  -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    border: none;
    border-radius: 0px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Programme, Arial, sans-serif;
    font-feature-settings: "ss07", "ss08", "ss11", "ss12", "ss14", "ss15", "ss16", "ss18", "ss19", "ss20", "ss21";
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    appearance: none;
    overflow: hidden;
    resize: none;
    outline: none;
    padding: 0px 0.125rem 0px 0.5rem;
}

.headerSearchIcon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0px 0.375rem;
}


.headerSearchIcon svg {
  fill: rgb(0, 0, 0);
  width: 18px;
}


.headerSearchForm {
  display: flex;
  background: rgb(255, 255, 255);
  margin-left: 0.375rem;
  -webkit-box-align: center;
  align-items: center;
  width: 220px;
  height: calc(41px - 0.75rem);
}

.headerLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.headerLogo svg {
  height: 19px;
  display: block;
  fill: rgb(0, 0, 0);
}

.headerLoggedInContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.headerLoggedInContainer svg {
  fill: rgb(0, 0, 0);
  height: 18px;
  width: 18px;
}

.headerLoggedInItem {
    margin-left: 1rem;  
}


.headerInboxContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 41px;
}

.headerInboxContainer svg {
  fill: rgb(0, 0, 0);
  height: 18px;
  width: 18px;
}

.headerInboxLabel {
  margin-left: 0.375rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

@media (max-width: 1200px) {
    .headerInboxLabel {
        display: none;
    }
}

.headerMenuContainer {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 41px;
}

.userAvatarContainer {
    overflow: hidden;
    border-radius: 100%;
}

.sizedImageContainer {
    position: relative;
    background-position: center center;
    width: 24px;
    height: 24px;
    background-color: rgb(255, 255, 153);
    background-size: cover;
}

.headerMenuIq {
    margin-left: 0.5rem;
}

.headerMenuIq span {
  display: block;
}

.headerTextLabel {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.headerSubnavigation {
    height: 41px;
    background: rgb(18, 18, 18);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.headerSubnavigation > :not(:first-child) {
  border-left: 1px solid rgb(255, 255, 255);
}


.headerLink {
    height: 0.875rem;
    padding: 0px 2.25rem;
    line-height: 1;
    color: rgb(255, 255, 255);
}

.headerLink span {
    white-space: nowrap;
    position: relative;
    top: -1px;
}

.headerLink .textLabel {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
