.queryPlayGrid {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #fff;
  margin: auto;
  max-width: 1188px;
  min-width: 1020px;
  padding: 0 24px;
  width: 100%;
  margin-bottom: 4.5rem;
  padding: 0;
}

.queryPlayTitle {
  color: #fff;
  -webkit-text-stroke: 2px #000;
  letter-spacing: 2px;
  font-size: 5em;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  margin-top: 2.25rem;
  margin-bottom: 1.5rem;
  
}

.querPlaySection:hover {
  cursor: pointer;
  text-decoration: underline;
}

.queryPlaySectionTitle {
  font-size: 3em;
  font-weight: 100;
  line-height: 1.25;
  margin-top: -.75rem;
}

.queryPlaySectionDescription {
  margin: 1rem 0;
}
