<ng-template #loadingCircle>
  <app-loading-circle></app-loading-circle>
</ng-template>

<div class="queryPlayGrid">
  <h1 class="queryPlayTitle">{{ q }}</h1>
  <div *ngIf="!loadPage else loadingCircle" class="queryPlayContent">
    <div class="queryPlaySection" (click)="playByArtist()">
      <h2 class="queryPlaySectionTitle">{{ artist }}</h2>
      <p class="queryPlaySectionDescription">{{ 'query_play.by_artists.description' | translate }}</p>
    </div>

    <div class="queryPlaySection" (click)="playBySong()">
      <h2 class="queryPlaySectionTitle">{{ song }}</h2>
      <p class="queryPlaySectionDescription">{{ 'query_play.by_songs.description' | translate }}</p>
    </div>
  </div>
</div>
