
<ng-template #loadingCircle>
  <app-loading-circle></app-loading-circle>
</ng-template>

<ng-template #suggestions>
  <div class="guessSuggestionsContainer">
    <div *ngIf="loadingGuessSuggestions" class="guessSuggestionsLoading">
      <app-loading-circle></app-loading-circle>
    </div>
    <div *ngFor="let guessSuggestion of guessSuggestions">
      <p (click)="onClickGuess(guessSuggestion)">{{ guessSuggestion.title }}</p>
    </div>
  </div>
</ng-template>

<div class="artistPlayComponent">
  <h1 class="artistPlayTitle">{{ artistName }}</h1>
  <section class="scoreSection">
    <h2>Score : &nbsp;</h2>
    <p>{{ score }}</p>
  </section>

  <div *ngIf="!endGame" class="artistPlayGrid">
    <section class="lyricsSection">
      <h2>{{ 'artist_play.lyrics.title' | translate }} {{ 1 + index }}/5</h2>
      <p *ngFor="let referent of shownReferents">{{ referent.fragment }}</p>
      <div *ngIf="loadingLyrics" class="lyricsLoading">
        <app-loading-circle></app-loading-circle>
      </div>
      <button [disabled]="loadingLyrics" (click)="moreReferents()" class="gameButton showMoreLyricsButton">{{ 'artist_play.lyrics.more' | translate }}</button>
      <button (click)="skipRound()" class="gameButton skipRoundButton">{{ 'artist_play.lyrics.skip' | translate }}</button>
    </section>

    <form (ngSubmit)="onSubmitGuess()" class="guessSearchForm"><input (click)="showGuessSuggestions()"
        (document:click)="hideGuessSuggestions()" [formControl]="guess" name="g"
        placeholder="{{ 'guess.placeholder' | translate }}" autocomplete="off" required="" class="guessInput">
      <div (click)="onSubmitGuess()" class="guessSearchIcon"><svg viewBox="0 0 21.48 21.59">
            <path
            d="M21.48 20.18L14.8 13.5a8.38 8.38 0 1 0-1.43 1.4l6.69 6.69zM2 8.31a6.32 6.32 0 1 1 6.32 6.32A6.32 6.32 0 0 1 2 8.31z">
          </path>
        </svg></div>
    </form>

    <ng-container *ngIf="guessSuggestionsShown">
      <ng-container *ngTemplateOutlet="suggestions"></ng-container>
    </ng-container>
    
    <h2>{{ 'artist_play.guesses.title' | translate }}</h2>
    <div class="previousGuesses">
      <div class="previousGuess" *ngFor="let previousGuess of previousGuesses">
       <p> {{ previousGuess.title }}</p>
      <svg  class="correctGuess" *ngIf="previousGuess.id === currentSong?.id" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
      <svg class="incorrectGuess" *ngIf="previousGuess.id !== currentSong?.id" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>  
      </div>
    </div>
    
    <div *ngIf="showNextModal" class="nextModal" (click)="nextRound()">
      <svg viewBox="0 0 22 22">
        <path fill="#fff" d="M22 0H0v22h22V0z"></path>
        <path class="st0" d="M15.6 11L7.9 6.5v9"></path>
      </svg>
    </div>
  </div>

  <div *ngIf="endGame" class="endGame">
    <app-final-score [score]="score"></app-final-score>
  </div>
</div>
