/* You can add global styles to this file, and also import other style files */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Programme, Arial, sans-serif;
  line-height: 1.45;
  text-size-adjust: 100%;
}

a {
  color: rgb(125, 143, 232);
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: inherit;
}

@font-face {
  font-family: 'Programme';
  src: url(https://assets.genius.com/fonts/programme_bold.woff2?1715097065) format('woff2'),
    url(https://assets.genius.com/fonts/programme_bold.woff?1715097065) format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Programme';
  src: url(https://assets.genius.com/fonts/programme_normal.woff2?1715097065) format('woff2'),
    url(https://assets.genius.com/fonts/programme_normal.woff?1715097065) format('woff');
  font-style: normal;
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
