<div class="homeContent">
  <div class="homeContentSection">
    <div class="homeGrid">
      <div class="homeTopContentText">
        <div class="homeFeaturedContent">
          <a class="homeFeaturedLink" href="/howtoplay">
            <div class="homeFeaturedHeader">
              <div class="homeFeaturedLabel">
                <span font-weight="normal" class="textLabel">{{ 'home.play' | translate }}</span>
              </div>
              <div class="homeFeaturedTitle">
                <h2>{{ 'home.description' | translate }}</h2>
              </div>
            </div>
          </a>
        </div>
      </div>
      <a href="/howtoplay" class="homeTopContentImage">
        <div role="img" class="sizedImageContainer"
          [style]='"background-image: url(" + "https://static.spin.com/files/2019/06/2bbbe4999c4493c663bf80fbdaf0e3c9-1560705499-640x336.jpeg" + ");"'>
        </div>
      </a>
      <app-featured-artist class="homeTopContentArtist" artistName="{{ 'home.featured_artists.doigby.name' | translate }}" artistLink="/a/513240" artistDescription="{{ 'home.featured_artists.doigby.description' | translate }}" artistImageUrl="https://www.radiofrance.fr/s3/cruiser-production/2021/04/538e813d-261e-4768-a562-64060ab7da65/1200x680_doigby-icone-e-sport.jpg"></app-featured-artist>
      <app-featured-artist class="homeTopContentArtist" artistName="{{ 'home.featured_artists.taylor_swift.name' | translate }}" artistLink="/a/1177" artistDescription="{{ 'home.featured_artists.taylor_swift.description' | translate }}" artistImageUrl="https://images.rtl.fr/~c/770v513/rtl/www/1670528-taylor-swift-lors-d-un-concert-a-inglewood-en-californie-le-7-aout-2023.jpg"></app-featured-artist>
      <app-featured-artist class="homeTopContentArtist" artistName="{{ 'home.featured_artists.eminem.name' | translate }}" artistLink="/a/45" artistDescription="{{ 'home.featured_artists.eminem.description' | translate }}" artistImageUrl="https://media.nrj.fr/1900x1200/2017/12/eminem_7231.jpg"></app-featured-artist>
      <app-featured-artist class="homeTopContentArtist" artistName="{{ 'home.featured_artists.michael_jackson.name' | translate }}" artistLink="/a/835" artistDescription="{{ 'home.featured_artists.michael_jackson.description' | translate }}" artistImageUrl="https://images.radio-canada.ca/q_auto,w_960/v1/ici-premiere/16x9/histo-thriller-michael-jackson.jpg"></app-featured-artist>
    </div>
  </div>
</div>
