.homeContent {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.homeContentSection {
  padding: 4.5rem 60px 0px;
  background-color: rgb(255, 255, 255);
}

.homeGrid {
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-columns: [grid-start] repeat(3, minmax(14px, 44px)) [center-start] repeat(6, minmax(14px, 44px)) [center-end] repeat(3, minmax(14px, 44px)) [grid-end];
  gap: 40px 60px;
}

.homeTopContentText {
  grid-column: span 5;
}

.homeTopContentImage {
  grid-column: span 7;
}

.homeFeaturedContent {
  color: rgb(0, 0, 0);
  font-weight: 100;
  line-height: 1.125;
  height: 100%;
  min-height: inherit;
}

.homeFeaturedLink {
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: inherit;
}

a {
  color: rgb(125, 143, 232);
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
  text-decoration: underline;
}

.homeFeaturedHeader {
  margin-bottom: 1rem;
}

.homeFeaturedLabel {
  display: flex;
}

.textLabel {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.homeFeaturedTitle {
  margin-top: 1rem;
  font-size: 2.25rem;  
}

.sizedImageContainer {
  position: relative;
  background-position: center center;
  padding-bottom: 56.25%;
  background-color: rgb(233, 233, 233);
  background-repeat: repeat-x;
  background-size: auto calc(100% + 1px);
}

.homeTopContentArtist {
  grid-column: span 3;
  min-height: 400px;
  position: relative;
}

.homeTopContentArtist:hover {
  cursor: pointer;  
}

